Flask==2.0.2
Flask-Cors==3.0.10  # If you're dealing with CORS
flask-restful==0.3.9  # If you're building RESTful APIs with Flask
Flask-SQLAlchemy==3.0.0  # If you're using SQLAlchemy with Flask
gunicorn==20.1.0  # For production deployment
