* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.App {
    display: flex;
  }
  
  .videoplayer {
    flex: 1; /* Take up all available space */
    margin-right: 20px; /* Optional: Add some spacing between components */
  }
  
  .overlayform {
    flex: 1; /* Take up all available space */
  }
  
  /* Optional: Adjust spacing for smaller screens */
  @media (max-width: 768px) {
    .App {
      flex-direction: column; /* Stack components on small screens */
    }
  
    .videoplayer,
    .overlayform {
      margin-right: 0; /* Remove spacing for small screens */
      margin-bottom: 20px; /* Optional: Add some spacing between components */
    }
  }
  